#catalogo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .card-body{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(255, 119, 119);
        padding: 10px;
        .card-titulo{
            font-size: 1.5rem;
            color: white;
            background-color: black;
            padding: 5px;
        }
    }
}
